NPCTEMPLATE

{
templatename=pool
makeatnobody=1
makeatnosee=1
type=100401
functionset=PoolItemShop
hp=100
mp=100
str=1
tough=1
}

{
templatename=npc_transmigration
makeatnobody=1
makeatnosee=1
name=
graphicname=SPR_chr02
functionset=transmigration
}